@import "../config.scss";

.ConversionModal {
  width: 500px;
}

.ConversionModelForm {
  display: flex;
}

.ConversionModelForm--main {
  flex: 1;
  margin-left: 12px;
}

.Note{
  border-radius: 4px;
  background: rgb(255, 222, 227);
  color: rgb(211, 65, 72);
  padding: 12px;
  font-size: .95em;
}

.ProgressMeter {
  display: flex;
  align-items: center;
}

.ProgressMeter__main {
  flex: 1;
}

.ProgressMeter__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 6px; 
  margin-left: 8px;
}

.ProgressMeter__icon .Icon {
  transition: transform 200ms, opacity 200ms;
}

.ProgressMeter__icon .Icon.enter {
  opacity: 0;
  transform: scale(.5);
}
.ProgressMeter__icon .Icon.enter-active {
  opacity: 1;
  transform: scale(1);
}
.ProgressMeter__icon .Icon.exit {
  opacity: 1;
  transform: scale(1);
}
.ProgressMeter__icon .Icon.exit-active {
  opacity: 0;
  transform: scale(.5)
}

.ProgressMeter__status {
  height: 24px;
  font-size: .85rem;
}

.ProgressBar {
  @include theme((
    background: "background-lighter",
  ));
  width: 100%;
  height: 5px;
  border-radius: 6px;
  position: relative;
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
}

.ProgressBar__level {
  position: absolute;
  height: 5px;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: $primary-color;
}

.ProgressBar.enter {
  opacity: 0;
}
.ProgressBar.enter-active,
.ProgressBar.enter-done {
  opacity: 1;
}
.ProgressBar.exit {
  opacity: 1;
}
.ProgressBar.exit-active,
.ProgressBar.exit-done {
  opacity: 0;
}