@import "../config.scss";

.FlipnoteThumb {
}

.FlipnoteThumb__image {
  position: relative;
  cursor: pointer;  
  background-repeat: no-repeat;
  background-size: 100%;
  // preserve aspect ratio (4:3)
  padding-bottom: 75%;
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 12px -4px rgba(77, 77, 100, 0.1);
}

.FlipnoteThumb__placeholder {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .Icon {
    width: 32px;
    height: 32px;
  }
}

.FlipnoteThumb__info {
  // background: $white;
  // border-bottom-left-radius: 3px;
  // border-bottom-right-radius: 3px;
  height: 22px;
  font-size: 0.85rem;
  line-height: 1rem;
  overflow: hidden;
  padding-top: 6px;
}

.FlipnoteThumb__author {
  color: $primary-color;
}

.FlipnoteThumb__type {
  position: absolute;
  right: 6px;
  bottom: 6px;
  display: inline-block;
  background: #efefef;
  color: #000;
  border-radius: 2px;
  padding: 0 6px;
  font-size: 0.7rem;
}