@import "../config.scss";

.UploadPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.UploadPanel__sdCardLink {
  // text-align: right;
  font-size: 0.85rem;
  padding: 12px 0;
}


.Dropzone {
  @include theme((
    color: 'text-alt',
    background: 'background-light'   
  ));
  flex: 1;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px -4px rgba(77, 77, 100, 0.1);
}

.Dropzone__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px dashed #fff;
  @include theme((
    border-color: "background-lighter",
  ));
  flex: 1;
}

.Dropzone__content {
  // flex: 0;
  font-size: 0.9rem;
  text-align: center;
  padding: 32px;
}

.UrlForm {
  @include theme((
    color: 'text-alt',
    background: 'background-light'   
  ));
  margin-top: 16px;
  margin-bottom: 22px;
  border-radius: 6px;
  padding: 16px;
  font-size: 0.9em;
  box-shadow: 0 4px 12px -4px rgba(77, 77, 100, 0.1);
}

.Dropzone--active {

}

.Dropzone--reject {
}

.Dropzone__content {
}