# sample flipnote .ppms and thumbnails shouldn't be in source
public/static/ppm/*
!public/static/ppm/manifest.example.json
!public/static/ppm/meta.example.json

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
