# sample flipnote .ppms/.kwzs and thumbnails shouldn't be in source
public/static/ppm/*
public/static/kwz/*
manifest.json
meta.json
!manifest.example.json
!meta.example.json

# dependencies
/node_modules

# testing
/coverage

# production
.next/*
/build

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
