.fileSelect {
}

.fileSelect__main {

  .region__title {

    .pagination {
      margin-left: auto;
      align-self: center;
    }
  }

}

.fileSelect__side {
  @include breakpoint(large) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
  }
}