.flipnoteView__main {
  @include clearfix();

  @include breakpoint(medium) {
    width: 480 + 48px;
  }

  @include breakpoint(large) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 640 + 48px;
  }

  @include breakpoint(xlarge) {
    width: (256*3) + 48px;
  }
}

.flipnoteView__side {
}

.detail {
  padding: 12px;

  @include breakpoint(medium) {
    padding: 24px;
  }
}

.detail__title {
  font-size: 1.025rem;
  line-height: 2.5em;
  border-bottom: 1px solid $dark-gray;
}

.detail__stat {
  @include theme("color", "text-alt");
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  margin-top: 4px;
  border-bottom: 1px dashed $dark-gray;
  // line-height: 2.5em;
  padding: 6px 0 8px 0;
}

.stat__title {
  flex: 1;
  margin-right: auto;
}

.stat__value {
  text-align: right;
  flex: 1;
  margin-left: auto;
}

.detail__stat.detail__stat--links {

  & .stat__value {
    margin: 0;
    list-style-type: none;
  }

  & .link {
    display: block;
  }
}