.flipnoteGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 -8px;
  margin-bottom: -8px;
}

.flipnoteGrid__thumb {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 8px;
  width: 50%;

  @include breakpoint(medium) {
    width: 33.333333%;
  }

  @include breakpoint(large) {
    width: 25%;
  }
}

.thumb__image {
  cursor: pointer;  
  background-repeat: no-repeat;
  background-size: 100%;
  // preserve aspect ratio (4:3)
  padding-bottom: 75%;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.thumb__loader {
  background-color: $dark-gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumb__author {
  background: $white;
  color: $text-color-light;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 0.85rem;
  line-height: 1rem;
  height: 28px;
  overflow: hidden;
  padding: 6px 8px 3px 8px;
  margin-top: -1px;
}