.flipnoteGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: -8px;
  // margin-top: 0;
}

.flipnoteGrid__thumb {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 8px;
  width: 50%;
  position: relative;

  @include breakpoint(medium) {
    width: 33.333333%;
  }

  @include breakpoint(large) {
    width: 25%;
  }
}

.thumb__image {
  cursor: pointer;  
  background-repeat: no-repeat;
  background-size: 100%;
  // preserve aspect ratio (4:3)
  padding-bottom: 75%;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.thumb__loader {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .icon {
    width: 32px;
    height: 32px;
  }

  .icon svg.icon {
    animation: spin 1s linear infinite;
    fill: rgba($dark-gray, .5);
  }
}

.thumb__info {
  background: $white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 0.85rem;
  line-height: 1rem;
  height: 28px;
  overflow: hidden;
  padding: 6px 8px 3px 8px;
  margin-top: -1px;
}

.thumb__author {
  color: $primary-color;
}

.thumb__type {
  position: absolute;
  right: 6px;
  bottom: 6px;
  display: inline-block;
  background: #efefef;
  color: #000;
  border-radius: 2px;
  padding: 0 6px;
  font-size: 0.7rem;
}

@keyframes spin { 
  100% {
    transform:rotate(360deg);
  } 
}