.frameCounter {
  font-variant-numeric: tabular-nums;
  position: absolute;
  bottom: 12px;
  right: 12px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  @include theme((
    border-color: "background",
    color: "text-invert",
    background: "background-light",
  ));
  padding: 6px 12px;
  font-size: 0.9rem;
}