.frameCounter {
  font-variant-numeric: tabular-nums;
  position: absolute;
  bottom: 12px;
  right: 12px;
  border: 2px solid black;
  @include theme("border-color", "gray-1");
  @include theme("color", "text-alt");
  @include theme("background", "gray-0");
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 0.9rem;
}