.icon {
  display: inline-block;
  cursor: pointer;
  fill: $primary-color;

  &:hover svg {
    fill: darken($primary-color, 6);
  }

  &.icon--disabled svg {
    fill: #BCC2C7;
  }

  svg {
    pointer-events: none;
  }
}
