.icon {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  width: 32px;
  height: 32px;

  svg.icon {
    fill: $primary-color;
    pointer-events: none;
  }

  &:hover svg {
    fill: darken($primary-color, 6);
  }

  &.icon--disabled svg {
    fill: rgba($dark-gray, .5);
  }
  
}
