$modal-border-radius: 8px !default;

.modal {
  @include breakpoint(medium) {
    box-shadow: 0 8px 5px -5px rgba(64, 64, 128, 0.1);
    border-radius: $modal-border-radius;
    border-bottom: 1px solid rgba(64, 64, 128, 0.2);
  }
  @include breakpoint(large) {
    display: flex;
  }
}

.modal__region {
  @include theme((
    background: "background-light",
  ));
  display: flex;
  flex-direction: column;
}

.modal__region--left {
  @include breakpoint(medium) {
    border-top-left-radius: $modal-border-radius;
    border-top-right-radius: $modal-border-radius;
  }

  @include breakpoint(large) {
    flex-shrink: 1;
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-left-radius: $modal-border-radius;
  }
}

.modal__region--right {
  @include breakpoint(medium) {
    border-bottom-right-radius: $modal-border-radius;
    border-bottom-left-radius: $modal-border-radius;
  }

  @include breakpoint(large) {
    flex-shrink: 1;
    flex-grow: 1;
    border-top-right-radius: $modal-border-radius;
    border-bottom-left-radius: 0;
  }
}

.modal__region--gray {
  @include theme((
    background: "background-dark",
  ));
}

.region__title {
  display: flex;
  border-bottom: 1px solid rgba($dark-gray, .5);
  margin: 12px;
  margin-top: 8px;
  margin-bottom: 0;

  @include breakpoint(medium) {
    margin: 24px;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .title {
    font-size: 1.025rem;
    line-height: 2.5em;
    margin-bottom: 0.25em;
  }

  .title__right {
    margin-left: auto;
  }
}

.region__body {
  flex: 1;
  margin: 12px;
  margin-top: 8px;

  @include breakpoint(medium) {
    margin: 24px;
    margin-top: 16px;
  }
}