.player__canvasFrame {
  position: relative;
  overflow: hidden;

  @include breakpoint(medium) {
    margin: 24px;
    margin-bottom: 0px;
  }
}

.player__progress {
  margin: 0 12px;

  @include breakpoint(medium) {
    margin: 0 24px;
  }
}

.player__controls {
  display: flex;
  flex-direction: row;
  height: 64px;
  padding-bottom: 8px;
  margin: 0 12px;

  @include breakpoint(medium) {
    margin: 0 24px;
  }

  i.icon {
    margin: 0px 6px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .icon--play, .icon--pause {
    width: 34px;
    height: 34px;
  }
}

.controlsGroup {
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: row;

  &.controlsGroup--left {
    margin-right: auto;
  }

  &.controlsGroup--right {
    margin-left: auto;
  }

  i.icon {
    flex: 0;
    // flex-basis: 28px;

    @include breakpoint(medium) {
      // flex-basis: 32px;
    }
  }
}

.player__canvas {
  display: block;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

  @include breakpoint(medium) {
    border-radius: 3px;
  }
}

.player__progressSlider {
  padding-top: 16px;
}