.settingsMenu {
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  @include theme((
    border-color: "background",
    background: "background-light",
  ));
  position: absolute;
  // I hate using !important, but react-overlays kinda forces me to here :">
  bottom: 12px !important;
  left: 12px !important;
  top: auto !important;
  right: auto !important;
}

.settingsItem {
  display: flex;
  line-height: 2em;
  padding: 4px 8px;
  font-size: 0.9rem;
  @include theme((
    color: "text-invert",
  ));

  &:hover {
    @include theme((
      background: "background",
    ));
  }

  &:first-of-type {
    padding-top: 8px;
  }

  &:last-of-type {
    padding-bottom: 8px;
  }
}

.settingsItem__label {
  flex: 1;
  margin-right: auto;
  padding: 0 12px;
}

.settingsItem__input {
  flex: 0;
  margin-left: auto;
  padding: 0 12px;
}

.settingsItem__slider {
  width: 80px;
  vertical-align: middle;
  display: inline-block;
  padding: 5px 0;
}