.settingsMenu {
  border-radius: 3px;
  border: 2px solid #000;
  @include theme("border-color", "gray-1");
  @include theme("background", "gray-0");
  position: absolute;
  // I hate using !important, but react-overlays kinda forces me to here :">
  bottom: 12px !important;
  left: 12px !important;
  top: auto !important;
  right: auto !important;
}

.settingsItem {
  display: flex;
  line-height: 2em;
  padding: 4px 8px;
  font-size: 0.9rem;
  @include theme("color", "text-invert");

  &:hover {
    @include theme("background", "gray-1");
  }

  &:first-of-type {
    padding-top: 8px;
  }

  &:last-of-type {
    padding-bottom: 8px;
  }
}

.settingsItem__label {
  flex: 1;
  margin-right: auto;
  padding: 0 12px;
}

.settingsItem__input {
  flex: 0;
  margin-left: auto;
  padding: 0 12px;
}

.settingsItem__slider {
  width: 80px;
  vertical-align: middle;
  display: inline-block;
  padding: 5px 0;

  .rc-slider-rail {
    @include theme("background", "gray-3");
  }
}