.switch {
  border: 2px solid $primary-color;
  width: 32px;
  height: 18px;
  border-radius: 13px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: background 0.2s;
}

.switch-toggle {
  background: #fff;
  border: 2px solid $primary-color;
  width: 18px;
  height: 18px;
  top: -2px;
  left: -2px;
  border-radius: 12px;
  position: relative;
  transition: transform 0.2s;
}

.switch.on {
  background: $primary-color;
}

.switch.on .switch-toggle {
  background: $white;
  transform: translateX(32px - 18px);
}

.switch.disabled {
  cursor: not-allowed;
}