@import '../config.scss';

.Page.Page--view {
  .Section.Section--side {
    flex: 1;
  }

  .Section.Section--main {
    margin-bottom: 24px;

    @include breakpoint-large() {
      width: 640px;
      margin-bottom: 0;
    }

    @include breakpoint-xlarge() {
      width: 800px;
    }
  }
}