@import './config.scss';
@import './parts/sudofont.scss';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:500,700&subset=japanese');
@import '~css-reset-and-normalize/scss/reset-and-normalize.scss';

body {
  color: #fff;
  background: #000;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  // letter-spacing: .015em;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-font-smoothing: antialiased;
  -moz-text-rendering: optimizeLegibility;

  #root {
    transition: filter 200ms linear;
  }

  &.is-modal-open {
    overflow-y: hidden;

    #root {
      filter: blur(2px) brightness(0.9);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: .5em;
}

h1 { font-size: 2.827em; }
h2 { font-size: 1.999em;}
h3 { font-size: 1.25em; }
h4 { font-size: 1.125em; }
small { font-size: 0.707em; }

p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

code {
  font-size: 1.1em;
  color: #e0e0f1;
  background: #161525;
  display: block;
  padding: 8px;
  border-radius: 4px;
}

.App {
  transition: background .5s, color .1s;
  color: map-get($light-theme, 'text');
  background: map-get($light-theme, 'background');

  &.theme--dark {
    color: map-get($dark-theme, 'text');
    background: map-get($dark-theme, 'background');
  }
}

@import './parts/buttons.scss';
@import './parts/forms.scss';
@import './parts/page.scss';