.viewer {
  flex-basis: 960px;
}

.viewer__player {
  background: #222;
  color: #fff;
  padding: 24px 24px 0 24px;
  // background: $light-gray;
  flex: 1 1;
}

.viewer__details {
  color: #000;
  background: #f5f5f5;
  padding: 24px;
  // margin-left: 24px;
  border-left: 1px solid black;
  // background: $light-gray;
  flex: 0 0 320px;
}