.player__canvasFrame {
  position: relative;
  overflow: hidden;

  @include breakpoint(medium) {
    margin: 24px;
    margin-bottom: 0px;
  }
}

.player__progress {
  margin: 0 12px;

  @include breakpoint(medium) {
    margin: 0 24px;
  }
}

.player__controls {
  display: flex;
  flex-direction: row;
  margin: 0 12px;
  padding-bottom: 16px;

  @include breakpoint(medium) {
    margin: 0 24px;
  }

  i {
    margin: 0px 6px;
  }
}

.controlsGroup {
  flex: 0;
  display: flex;
  flex-direction: row;

  &.controlsGroup--left {
    margin-right: auto;
  }

  &.controlsGroup--right {
    margin-left: auto;
  }

  i {
    flex: 0;
    flex-basis: 28px;

    @include breakpoint(medium) {
      flex-basis: 32px;
    }
  }
}

.player__canvas {
  display: block;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

  @include breakpoint(medium) {
    border-radius: 3px;
  }
}

.player__progressSlider {
  padding: 12px 0;
}

.settingsMenu {
  border-radius: 3px;
  background: #fff;
  border: 2px solid #efefef;
  position: absolute;
  // I hate using !important, but react-overlays kinda forces me to here :">
  bottom: 12px !important;
  left: 12px !important;
  top: auto !important;
  right: auto !important;
}

.settingsItem {
  display: flex;
  line-height: 2em;
  padding: 4px 8px;
  color: #6f7275;
  font-size: 0.9rem;

  &:hover {
    background:#efefef;
  }

  &:first-of-type {
    padding-top: 8px;
  }

  &:last-of-type {
    padding-bottom: 8px;
  }
}

.settingsItem__label {
  flex: 1;
  margin-right: auto;
  padding: 0 12px;
}

.settingsItem__slider {
  width: 80px;
  vertical-align: middle;
  display: inline-block;

  .rc-slider-rail {
    background-color: #bcc2c7;
  }
}

.settingsItem__input {
  flex: 0;
  margin-left: auto;
  padding: 0 12px;
}

.frameCounter {
  font-variant-numeric: tabular-nums;
  position: absolute;
  bottom: 12px;
  right: 12px;
  border: 2px solid #efefef;
  background: #fff;
  color: #6f7275;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 0.9rem;
}