.switch {
  border: 2px solid #949AA0;
  width: 32px;
  height: 18px;
  border-radius: 13px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: background 0.3s;
}

.switch-toggle {
  background: #949AA0;
  // box-shadow: 1px 1px 1px #ccc;
  width: 14px;
  height: 14px;
  left: 0;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s ease-in-out, background 0.3s;
}

.switch.on {
  background: #949AA0;
}

.switch.on .switch-toggle {
  background: #fff;
  transform: translateX(32px - 18px);
}

.switch.disabled {
  cursor: not-allowed;
}