@import "../config.scss";

.Dropzone {
  height: 100%;
  border-radius: 4px;
  background: #fff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  @include theme((
    color: "text-alt"
  ));
  font-size: 0.9em;
  text-align: center;
}

.Dropzone--active {

}

.Dropzone--reject {
}

.Dropzone__content {
  border: 2px dashed $medium-gray;
  flex: 0;
  margin: auto;
}