@import "../config.scss";

.Player__canvasFrame {
  position: relative;

  @include breakpoint-small-only {
    margin: 0 -12px;
  }
  // overflow: hidden;
}

.Player__progress {
  // margin: 0 12px;
}

.Player__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Player__controls {
  display: flex;
  flex-direction: row;
  height: 64px;
  padding-bottom: 8px;

  i.icon {
    margin: 0px 6px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .icon--play, .icon--pause {
    width: 34px;
    height: 34px;
  }
}

.ControlsGroup {
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: row;

  &.ControlsGroup--left {
    margin-right: auto;
  }

  &.ControlsGroup--right {
    margin-left: auto;
  }

  .Icon {
    margin: 6px;
    flex: 0;
    // flex-basis: 28px;

    @include breakpoint-medium {
      // flex-basis: 32px;
    }
  }
}

.Player__canvas {
  canvas {
    display: block;
    box-shadow: 0 4px 12px -4px rgba(77, 77, 100, 0.1);

    @include breakpoint-medium {
      border-radius: 6px;
    }
  }

}

.Player__progress {
  padding-top: 16px;
  padding-bottom: 4px;
}