@import '../config.scss';

.Footer {
  @include theme((
    color: "text-invert",
  ));
  display: flex;
  align-items: center;
  opacity: 0.7;
  font-size: 0.9rem;

  @include breakpoint-medium {
    padding: 0;
    margin-bottom: 0;
  }

  a {
    border-bottom: 1px solid currentColor;
  }
}