@import "../config.scss";

@keyframes spin { 
  100% {
    transform: rotate(360deg);
  } 
}

.Icon {
  display: inline-block;
  user-select: none;
  cursor: pointer;

  svg {
    width: 32px;
    height: 32px;
    display: block;

    & *[fill] {
      fill: $primary-color;
      transition: fill 0.25s !important;
    }

    & *[stroke] {
      stroke: $primary-color;
      transition: stroke 0.25s !important;
    }

    &:hover {
      & *[fill] {  
        fill: darken($primary-color, 6);
      }

      & *[stroke] {  
        stroke: darken($primary-color, 6);
      }
    }
  }

  &.Icon--disabled {
    cursor: inherit;
  }

  &.Icon--disabled svg, &.Icon--disabled svg:hover {
    & *[fill] {  
      @include theme((
        fill: "background-lighter",
      ));
    }

    & *[stroke] {  
      @include theme((
        stroke: "background-lighter",
      ));
    }
    
  }

  &.Icon--spin svg {
    cursor: inherit;
    animation: spin 1s linear infinite;
  }
  
}
