@import "../config.scss";

.Icon {
  display: inline-block;
  user-select: none;
  cursor: pointer;

  svg {
    width: 32px;
    height: 32px;
    display: block;

    & *[fill] {
      fill: $primary-color;
    }

    & *[stroke] {
      stroke: $primary-color;
    }

    &:hover {
      & *[fill] {  
        fill: darken($primary-color, 6) !important;
      }

      & *[stroke] {  
        stroke: darken($primary-color, 6) !important;
      }
    }
  }

  &.Icon--disabled svg {
    & *[fill] {  
      fill: rgba($dark-gray, .5) !important;
    }

    & *[stroke] {  
      stroke: rgba($dark-gray, .5) !important;
    }
    
  }
  
}
