.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalBackdrop.ModalBackdrop--visible {
  background: rgba(black, 0.2);
}

.Modal {
  background: white;
  color: black;
  border-radius: 12px;
  padding: 24px;

}