@import "../config.scss";

.Pagination {
  display: flex;
  align-items: center;

  .Pagination__current {
    margin: 0 6px;
    line-height: 30px;
  }

  .Icon svg {
    margin: 0;
    width: 30px;
    height: 30px;
  }
}