@import "../config.scss";

.Pagination {
  @include theme((
    background: 'background-light'
  ));
  font-size: .9em;
  display: flex;
  align-items: center;
  border-radius: 18px;
  padding: 0px 4px;
  box-shadow: 0 4px 12px -4px rgba(77, 77, 100, 0.1);

  .Pagination__current {
    line-height: 30px;
    font-variant-numeric: tabular-nums;
    padding: 0 4px;
  }

  .Icon, .Icon svg {
    margin: 0;
    width: 24px;
    height: 24px;
  }
}