@import "../config.scss";

.SettingsMenu {
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  @include theme((
    border-color: "background",
    background: "background-light",
  ));
  position: absolute;
  bottom: 12px;
  left: 12px;
  transition: opacity 200ms linear, transform 200ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.SettingsMenu.enter {
  opacity: 0;
  transform: translateY(20px);
}
.SettingsMenu.enter-done {
  opacity: 1;
  transform: translateY(0);
}
.SettingsMenu.exit {
  opacity: 1;
  transform: translateY(0);
}
.SettingsMenu.exit-active {
  opacity: 0;
  transform: translateY(20px);
}