@import "../config.scss";

.SettingsMenu {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  @include theme((
    border-color: "background",
    background: "background-light",
  ));
  position: absolute;
  bottom: 12px;
  left: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px -4px rgba(77, 77, 100, 0.1);
  transition: opacity 150ms linear, transform 150ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.SettingsMenu.enter {
  opacity: 0;
  transform: scale(.9) translateY(20px);
}
.SettingsMenu.enter-done {
  opacity: 1;
  transform: translateY(0);
}
.SettingsMenu.exit {
  opacity: 1;
  transform: translateY(0);
}
.SettingsMenu.exit-active {
  opacity: 0;
  transform: scale(.9) translateY(20px);
}