@import "../config.scss";

.Slider {
  padding: 8px 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Slider__bar {
  @include theme((
    background: "background-lighter",
  ));
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 6px;
}

.Slider__handle, .Slider__progress {
  position: absolute;
}

.Slider__progress {
  height: 5px;
  border-radius: 6px;
  background-color: $primary-color;
}

.Slider__handle {
  border: solid 3px #fff;
  @include theme((
    border-color: "background",
  ));
  background-color: $primary-color;
  position: absolute;
  margin-left: -8px;
  margin-top: -5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}