@import "../config.scss";

.rc-slider {
  position: relative;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background: rgba($dark-gray, .5);
  height: 5px;
  border-radius: 3px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 3px;
  background-color: $primary-color;
}

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}

.rc-slider-handle {
  // display: none;
  // visibility: hidden;
  // pointer-events: none;
  position: absolute;
  margin-left: -8px;
  margin-top: -5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border: solid 3px #fff;
  @include theme((
    border-color: "background",
  ));
  background-color: $primary-color;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

// .rc-slider:hover .rc-slider-handle,
// .rc-slider.is-active .rc-slider-handle {
//   display: block;
//   visibility: visible;
//   pointer-events: all;
// }

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
