@import "../config.scss";

.switch {
  border: 2px solid $primary-color;
  width: 32px;
  height: 18px;
  border-radius: 9px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: background 0.2s;
}

.switch-toggle {
  background: #fff;
  border: 2px solid $primary-color;
  width: 18px;
  height: 18px;
  top: -2px;
  left: -2px;
  border-radius: 12px;
  position: relative;
  transition: transform 0.2s;
}

.switch.on {
  background: $primary-color;
}

.switch.on .switch-toggle {
  background: $white;
  transform: translateX(32px - 18px);
}

.switch.disabled {
  cursor: not-allowed;
}

.switch.switch--large {
  height: 28px;
  width: 48px;
  border-radius: 14px;
  margin: 2px 0;

  .switch-toggle {
    height: 28px;
    width: 28px;
    border-radius: 14px;
  }

  &.on .switch-toggle {
    transform: translateX(48px - 28px);
  }
}