.Button {
  line-height: 28px;
  display: block;
  height: 32px;
  border-radius: 4px;
  color: $primary-color;
  font-weight: bold;
  // font-size: 1.05em;
  text-align: center;
  border: 2px solid $primary-color;
  cursor: pointer;
  padding: 0 6px;
}

.Button--inline {
  display: inline-block;
}

.Button--lg {
  height: 42px;
  line-height: 38px;
  padding: 0 12px;
}