.Button {
  line-height: 28px;
  border-radius: 3px;
  color: $primary-color;
  border: 2px solid $primary-color;
  cursor: pointer;
  padding: 3px 12px;
}

.Button--inline {
  display: inline-block;
}