.View {
  flex: 0;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  max-width: 960px;

  @include breakpoint-medium-only {
    max-width: 528px;
  }

  @include breakpoint-xlarge {
    max-width: 1120px;
  }
}

.Page {
  @include breakpoint-large {
    display: flex;
    margin: 0 -12px;
  }
}

.Section {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}

.Section--main {
}

.Section--side {
}

.Section__title {
  display: flex;
  margin-bottom: 8px;
  // border-bottom: 1px solid rgba($dark-gray, .5);

  .title {
    font-size: 1.025rem;
    line-height: 2.5em;
    margin-bottom: 0;
  }

  .title__right {
    margin-left: auto;
  }
}

.Section__body {
  flex: 1;
}