$light-theme: (
  background: #EFF1F5,
  background-light: #fff,
  background-lighter: rgb(200, 201, 202),
  background-dark: #E5E5E5,
  text: #141414,
  text-invert: #596068,
);

$dark-theme: (
  background: #08080A,
  background-light: #31374d,
  background-lighter: #596177,
  background-dark: #252938,
  text: #fff,
  text-invert: #cdd5e0,
);

$primary-color: #f1824e;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1120px,
  xlarge: 1500px,
  xxlarge: 1640px,
);

$black: #141414;
$white: #fff;
$dark-gray: #5d6a72;
$medium-gray: lighten($dark-gray, 12);
$text: $white;
$text-light: #6f7275;
$background: #000000;
$font-family: 'Public Sans', 'M PLUS 1p', sudofont, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;

$sf-font-path: "../../public/static/fonts/";

@import './mixins.scss';