$light-theme: (
  background: rgb(242, 242, 242),
  background-light: #fff,
  background-dark: #E5E5E5,
  text: #141414,
  text-invert: #6f7275,
);

$dark-theme: (
  background: #08080A,
  background-light: #303544,
  background-dark: #252938,
  text: #fff,
  text-invert: #cdd5e0,
);


$primary-color: #fa8f52;

$breakpoints: (
  small: 0,
  medium: 576px,
  large: 1120px,
  xlarge: 1500px,
  xxlarge: 1640px,
);

$black: #141414;
$white: #fff;
$dark-gray: rgb(93, 106, 114);
$medium-gray: lighten($dark-gray, 12);
$text: $white;
$text-light: #6f7275;
$background: #000022;
$font-family: 'Public Sans', 'M PLUS 1p', sudofont, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;

$sf-font-path: "../../public/static/fonts/";

@import './mixins.scss';