.Page.Page--index {
  .Section.Section--side {
    flex-basis: 320px;
  }

  .Section.Section--main {
    flex-grow: 1;
  }

  .Section.Section--main .Pagination {
    margin-left: auto;
    align-self: center;
  }
}