@import '../config.scss';

.Page.Page--index {
  .Section.Section--side {
    @include breakpoint-large {
      width: 270px;
      height: 494px;
    }

    @include breakpoint-xlarge {
      width: 300px;
      height: 570px;
    }
  }

  .Section.Section--main {
    flex-grow: 1;
  }
}