@import '../config.scss';

.Page.Page--index {
  .Section.Section--side {
    flex-basis: 270px;

    @include breakpoint-xlarge {
      flex-basis: 300px;
    }
  }

  .Section.Section--main {
    flex-grow: 1;
  }

  .Section.Section--main .Pagination {
    margin-left: auto;
    align-self: center;
  }
}