@import '../config.scss';

.Page.Page--view {
  .Section.Section--side {
    flex-grow: 1;

    .Section__title {
      margin: 0;
    }
  }

  .Section.Section--main {
    width: 640px;

    @include breakpoint-xlarge() {
      width: 800px;
    }
  }
}