@import '../config.scss';

.Page.Page--view {
  .Section.Section--side {
    flex-grow: 1;
  }

  .Section.Section--main {
    @include breakpoint-large() {
      width: 640px;
    }

    @include breakpoint-xlarge() {
      width: 800px;
    }
  }
}