// import libs and shared variables
@import "./vars";

@include foundation-global-styles;
@include foundation-typography;

// general page layout
html, body {
  height: 100%;
}

div[tabindex="-1"]:focus {
  outline: 0;
}

.app {
  width: 100vw;
  min-height: 100vh;
  color: map-get($light-theme, "text-main");
  background: map-get($light-theme, "gray-1");

  &.is-darkmode {
    color: map-get($dark-theme, "text-main");
    background: map-get($dark-theme, "gray-1");
  }

  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    // left and right padding
    padding: 0 24px;
  }

  @include breakpoint(large) {
    padding: 0 80px;
  }
}

.wrap {
  flex: 0;
  width: 100%;
  max-width: 640px;
  margin: auto;

  &.wrap--wide {
    max-width: 980px;

    @include breakpoint(medium only) {
      max-width: 528px;
    }

    @include breakpoint(xlarge) {
      max-width: 1120px;
    }
  }

  &.wrap--narrow {
    max-width: 320px;
  }
}

// import component files
@import "components/sudofont";
@import "components/icons";
@import "components/button";
@import "components/switch";
@import "components/slider";
@import "components/dropzone";
@import "components/menuBar";
@import "components/flipnoteGrid";
@import "components/player";
@import "components/settingsMenu";
@import "components/frameCounter";
@import "components/transitions";
@import "components/modal";
@import "views/about";
@import "views/fileSelect";
@import "views/flipnoteView";
