// import libs and shared variables
@import "./vars";

@include foundation-global-styles;
@include foundation-typography;

// import component files
@import "partials/sudofont";
@import "partials/icons";
@import "partials/switch";
@import "partials/slider";
@import "partials/player";
@import "partials/detail";
@import "partials/transitions";

// general page layout
html, body {
  height: 100%;
}

div[tabindex="-1"]:focus {
  outline: 0;
}

.app {
  width: 100vw;
  min-height: 100vh;

  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    // left and right padding
    padding: 0 24px;
    // top and bottom padding
    &:after, &:before {
      content: '';
      display: block;
      flex: 1 1 80px;
    }
  }

  @include breakpoint(large) {
    padding: 0 80px;
  }
}

.wrap {
  flex: 0;
  width: 100%;
  max-width: 640px;
  margin: auto;

  &.wrap--wide {
    max-width: 980px;

    @include breakpoint(xlarge) {
      max-width: 1120px;
    }
  }

  &.wrap--narrow {
    max-width: 320px;
  }
}

.topBar {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.topBar__group {
  flex: 0;
}

.topBar__group--left {
  margin-right: auto;
}

.topBar__group--right {
  margin-left: auto;
}

.topBar__logo {
  height: 64px;
  width: 40px;
  vertical-align: middle;
}

.flipnoteView {

  @include breakpoint(medium only) {
    width: 100%;
    max-width: 480 + 48px;
    margin: 0 auto;
  }

  @include breakpoint(large) {
    display: flex;
  }
}

.flipnoteView__main {
  background: #e2e5e8;
  @include clearfix();

  @include breakpoint(medium) {
    width: 480 + 48px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  @include breakpoint(large) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 640 + 48px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
  }

  @include breakpoint(xlarge) {
    width: (256*3) + 48px;
  }
}

.flipnoteView__side {
  background: #fff;
  @include breakpoint(medium) {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  @include breakpoint(large) {
    flex: 1;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
  }
}