$light-gray: #efefef;
$medium-gray: #e2e5e8;
$dark-gray: #bcc2c7;

$body-background: $light-gray;

$foundation-palette: (
  primary: #FE7F7E,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$breakpoints: (
  small: 0,
  medium: 576px,
  large: 1120px,
  xlarge: 1500px,
  xxlarge: 1640px,
);

$black: #141414;
$white: #fff;
$text-color: $black;
$text-color-light: #6f7275;
$body-font-family: sudofont, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$header-font-weight: bold;

$sf-font-path: "../assets/fonts/";

// Foundation SCSS framework: https://foundation.zurb.com/sites
@import "~foundation-sites/scss/foundation";