$body-background: #efefef;
$light-gray: #949AA0;
$medium-gray: #626569;
$dark-gray: #2b2b3b;

$foundation-palette: (
  primary: #FE7F7E,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1120px,
  xlarge: 1440px,
  xxlarge: 1640px,
);

$black: #141414;
$white: #fff;
$sf-font-path: "../assets/fonts/";
$body-font-family: sudofont, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$header-font-weight: bold;

// Foundation SCSS framework: https://foundation.zurb.com/sites
@import "~foundation-sites/scss/foundation";