$light-theme: (
  background: #f3f6f8,
  text: #141414,
  text-invert: #6f7275,
  gray-0: #fff,
  gray-1: #efefef,
  gray-2: #d9dfe8,
  gray-3: #bcc2c7,
);

$dark-theme: (
  background: #171F30,
  text: #fff,
  text-invert: #cdd5e0,
  gray-0: #1d2131,
  gray-1: #252a3c,
  gray-2: #10121d,
  gray-3: #bcc2c7,
);

@mixin theme($prop, $color) {
  #{$prop}: map-get($light-theme, $color);

  .is-darkmode & {
    #{$prop}: map-get($dark-theme, $color);
  }
}

$foundation-palette: (
  primary: rgb(252, 134, 87),
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$breakpoints: (
  small: 0,
  medium: 576px,
  large: 1120px,
  xlarge: 1500px,
  xxlarge: 1640px,
);

$black: #141414;
$white: #fff;
$text-color: $black;
$text-color-light: #6f7275;
$body-font-family: 'M PLUS 1p', sudofont, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$header-font-weight: 700;
$global-lineheight: 1.6;
$global-weight-normal: 500;
$global-weight-bold: 700;

$sf-font-path: "../assets/fonts/";

// Foundation SCSS framework: https://foundation.zurb.com/sites
@import "~foundation-sites/scss/foundation";